<h1>Edit Spell <%=@spell.spell_name%></h1>
<p><%= @error %></p>
<form action="/spells/<%=@spell.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label>Spell Name:</label>
    <input type ="text" name="spell[spell_name]" value="<%= @spell.spell_name %>">
    <p><label>Classes:</label>
    <input type ="text" name="spell[character_class]" value="<%= @spell.character_class%>"></p>
    <p><label>Level:</label>
    <input type ="integer" name="spell[level]" value="<%= @spell.level %>"></p>
    <p><label>Description:</label>
    <textarea name="spell[desc]" value="<%= @spell.desc%>"></textarea></p>
    <p><label>Damage:</label>
    <input type ="text" name="spell[damage]" value="<%= @spell.damage %>"></p>
    <p><label>Range:</label>
    <input type ="text" name="spell[range]" value="<%= @spell.range %>"></p>
    <p><label>Duration:</label>
    <input type ="text" name="spell[duration]" value="<%= @spell.duration %>"></p>
    <p><label>Casting Time:</label>
    <input type ="text" name="spell[casting_time]" value="<%= @spell.casting_time %>"></p>
    <p><label>School:</label>
    <input type ="text" name="spell[school]" value="<%= @spell.school %>"></p>
    <p><button type="submit">Edit Spell</button></p>
</form>