<h1> Spells </h1>
<a href='/spells/new'>Create a New Spell</a>
<% @spells.each do |spell|%>
    <h2><a href="/spells/<%= spell.id%>"></a><%= spell.name %> </h2>
    <p><%= spell.class%><%= spell.level %></p>
    <% #If current logged in user created the spell, allow them to click link below and edit%>
    <a href="/spells/<%=spell.id%>/edit">Edit Spell</a>
<% end %>